/*PAGE STYLES*/



body {
    font-family: 'Castoro',
        serif;
    font-size: 1.5em;
    background-color: lightgray;
}

#introduction {
    margin-top: 25px;
}

/*IMAGES */

.landing-photo {
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    display: block;
    width: 200px;
    margin: auto;

}

/*MEDIA QUERIES*/
